APP_NAME="Mystream Test Task"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://mystream-test-task.lt

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local

SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

STRIPE_API_PRIVATE_KEY=
STRIPE_API_PUBLIC_KEY=

STRIPE_API_CLIENT_PUBLIC_KEY=
STRIPE_API_CLIENT_PRIVATE_KEY=

STRIPE_WEBHOOK_LOCAL_SECRETE=
STRIPE_WEBHOOK_CHECKOUT_SECRETE=
STRIPE_WEBHOOK_PAYMENT_INTENT_SECRETE=
